absl-py==0.6.1
astor==0.7.1
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
beautifulsoup4==4.6.3
bleach==3.0.2
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
CherryPy==3.8.2
configparser==3.5.0
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.8.2
elasticsearch==6.3.1
elasticsearch-dsl==6.2.1
elasticsearch5==5.5.5
entrypoints==0.2.3
enum34==1.1.6
ExifRead==2.1.2
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
fuzzywuzzy==0.17.0
gast==0.2.0
geoip2==2.9.0
grpcio==1.16.0
h5py==2.8.0
idna==2.7
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
langdetect==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.0
maxminddb==1.4.1
mistune==0.8.4
mock==2.0.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.0
numpy==1.15.4
pandas==0.23.4
pandocfilters==1.4.2
pathlib==1.0.1
pathlib2==2.3.2
pbr==5.1.1
pexpect==4.6.0
phonenumbers==8.9.16
pickleshare==0.7.5
plac==0.9.6
preshed==2.0.1
prometheus-client==0.4.2
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
py4j==0.10.7
pydoop==1.2.0
Pygments==2.2.0
pymongo==3.7.2
pyspark==2.4.0
python-dateutil==2.7.5
python-Levenshtein==0.12.0
pytz==2018.7
PyYAML==3.11
pyzmq==17.1.2
qtconsole==4.4.2
regex==2018.1.10
requests==2.20.0
scandir==1.9.0
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
spacy==2.0.16
tangelo==0.10.0
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
thinc==6.12.0
toolz==0.9.0
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
ujson==1.35
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
ws4py==0.3.2
xlrd==1.1.0
xmltodict==0.11.0
